In [2]:
import pandas as pd

In [4]:
data = {
    'relationship': ['Married', 'Single', 'Married', 'Single', 'Divorced'],
    'hours-per-week': [40, 30, 35, 50, 45]
}

In [12]:
df = pd.DataFrame(data)

In [14]:
#student id is 2338212
n= 2

In [16]:
def reduce_hours(row):
    row['hours-per-week'] = row['hours-per-week'] - n
    return row

In [18]:
df = df.apply(reduce_hours, axis=1)

In [20]:
grouped_df = df.groupby(['relationship', 'hours-per-week']).size().reset_index(name='count')

In [22]:
print(grouped_df)

  relationship  hours-per-week  count
0     Divorced              43      1
1      Married              33      1
2      Married              38      1
3       Single              28      1
4       Single              48      1